@import url(./fonts.min.css);
@import url(./normalize.min.css);
@import url(./variables.min.css);
*{
	font-family: "Quicksand", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}.clickable{
	cursor: pointer;
}header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0.5rem;
	border-bottom: 1.5px solid var(--very-light-pink);
}main .search-menu{
	padding: 0.4rem 0.8rem 0 0.8rem;
	margin-bottom: 0.8rem;
}main .search-menu input{
	text-align: center;
	width: 100%;
	padding: 0.8rem;
	border-radius: 0.4rem;
	outline: none;
	border: none;
	background-color: var(--text-input-field);
}main .filters-menu{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 0.2rem;
}main .filters-menu .filter-toggle{
	border: 2px solid var(--hospital-green);
	padding: 0.4rem;
	border-radius: 0.4rem;
	color: var(--darker-green);
}main .filters-menu .filters{
	display: flex;
	flex-direction: row;
	padding: 0.2rem;
	border-radius: 0.4rem;
	border: 2px solid var(--hospital-green);
}main .filters-menu .filters .filter{
	background-color: transparent;
	padding: 0.4rem;
	border-radius: 0.4rem;
	margin: 0.2rem;
}main .filters-menu .filters .selected{
	background-color: var(--hospital-green);
	color: white;
}main .filters-menu .border-fusion{
	border-radius: 0.4rem 0.4rem 0 0;
	border-top: 2px solid var(--hospital-green);
	border-bottom: none;
}main .order-menu{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}main .order-menu .dropdown select{
	outline: none;
	border: none;
}main .products{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 2.2rem;
	margin-top: 0.8rem;
}main .products .card{
	min-width: 220px;
	max-width: 280px;
	padding: 0.4rem;
}main .products .card .product-image{
	width: 100%;
	border-radius: 1rem;
}main .products .card .container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}main .products .card .container .cart{
	width: 2em;
}main .products .card .container .description{
	color: var(--dark);
}body .responsive-menu{
	padding: 0.8rem 0 0.8rem 0;
	position: sticky;
	top: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	border-radius: 0 0 0.8rem 0.8rem;
}body .responsive-menu .categories{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.4rem;
	margin: 0.8rem 0 0 0;
}body .responsive-menu .selectable:hover{
	background-color: var(--hospital-green);
	padding: 0.4rem;
	border-radius: 0.2rem;
}body .responsive-menu hr{
	margin: 0.8rem 0 0.8rem;
	outline: none;
	border: none;
	height: 1px;
	background-color: gray;
	padding: 0 9rem 0 9rem;
}body .responsive-menu .account-opt{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.2rem;
}body .responsive-menu .acc-info{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.2rem;
}