@import url(./fonts.min.css);
@import url(./normalize.min.css);
@import url(./variables.min.css);
*{
	font-family: "Quicksand", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}.clickable{
	cursor: pointer;
}header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0.5rem;
	border-bottom: 1.5px solid var(--very-light-pink);
}main .search-menu{
	padding: 0.4rem 0.8rem 0 0.8rem;
	margin-bottom: 0.8rem;
}main .search-menu input{
	width: 100%;
	padding: 0.8rem;
	border-radius: 0.4rem;
	outline: none;
	border: none;
	background-color: var(--very-light-pink);
}main .filters-menu{
	display: flex;
	flex-direction: column;
	align-items: center;
}main .filters-menu .filter-toggle{
	background-color: var(--very-light-pink);
	padding: 0.4rem;
	border-radius: 0.4rem;
}main .filters-menu .filters{
	display: flex;
	flex-direction: row;
	background-color: var(--very-light-pink);
	padding: 0.4rem;
	border-radius: 0.4rem;
}main .filters-menu .filters .filter{
	background-color: transparent;
	padding: 0.4rem;
	border-radius: 0.4rem;
	margin: 0.2rem;
}main .filters-menu .filters .selected{
	background-color: var(--darker-green);
}main .filters-menu .border-fusion{
	border-radius: 0.4rem 0.4rem 0 0;
}main .order-menu{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}main .order-menu .dropdown select{
	outline: none;
	border: none;
}