@import url(./fonts.min.css);
@import url(./normalize.min.css);
@import url(./variables.min.css);
@import url(./fonts.min.css);
@import url(./normalize.min.css);
@import url(./variables.min.css);

* {
	font-family: "Quicksand", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
	height: 100%;
	padding: 0 2rem 0 2rem;
}

main .logo-container img {
	width: 100%;
}

main .logo-container {
	margin: 2rem 0 2rem 0;
}

main .logo-container {
	padding: 0 6rem 0 6rem;
}

main .form-container,
.logo-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main .form-container form {
	display: flex;
	flex-direction: column;
}

main .form-container .tittle {
	text-align: center;
	margin: 0 0 0.5rem 0;
}

main .form-container .subtittle {
	margin-bottom: 1rem;
	text-align: center;
}

main .form-container form label {
	font-weight: bold;
	margin: 1rem 0 0.5rem 0;
}

main .form-container form input.submit {
	margin-top: 2rem;
	background-color: var(--hospital-green);
	color: white;
	font-weight: bold;
}

main .form-container form,
label,
input {
	width: 100%;
}

main .form-container form input {
	outline: none;
	border: none;
	background-color: var(--text-input-field);
	padding: 0.8rem;
	border-radius: 0.2rem;
}main .form-container form .sing-in-btn{
	margin-top: 0.4rem;
	border: solid 1px var(--hospital-green);
	padding: 0.8rem;
	border-radius: 0.2rem;
	text-align: center;
	cursor: pointer;
}